.container .places {
  margin-top: 30px;
}

.container .places h1 {
  font-size: 30px;
}

.container .places ul {
  text-align: center;
}

.container .places ul li {
  display: inline-block;
}

.container .places ul li article {
  width: 390px;
  margin: 20px;
  padding: 20px;
  border: solid 1px #FF5A5F;
  border-radius: 4px;
  text-align: center;
}

.container .places ul li article h2 {
  font-size: 30px;
}
